includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - open-data-wizard.php
        - uninstall.php
        - includes/
    excludePaths:
        - vendor/
    bootstrapFiles:
        - vendor/autoload.php

    # Diese müssen UNTER parameters eingerückt sein:
    dynamicConstantNames:
        - ABSPATH
        - WP_UNINSTALL_PLUGIN
        - DOING_AUTOSAVE
        - ODW_VERSION
        - ODW_PLUGIN_DIR
        - ODW_PLUGIN_URL
        - ODW_PLUGIN_FILE

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
