<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true" cacheResult="false">
  <coverage>
    <include>
      <directory>includes/</directory>
      <file>open-data-wizard.php</file>
    </include>
    <exclude>
      <directory>vendor/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Open Data Wizard">
      <directory suffix=".php">tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
