@open-data-bayern:registry=https://paca.fokus.fraunhofer.de/repository/npm-hosted/
# @piveau:registry=https://paca.fokus.fraunhofer.de/repository/npm-hosted/
@deu:registry=https://paca.fokus.fraunhofer.de/repository/npm-hosted/
# registry=http://localhost:4873/ # In case you use Verdaccio for testing purposes
registry=https://registry.npmjs.org/
