// import custom theme
// @import 'bootstrap_theme'; // import full bootstrap framework
// @import "../../node_modules/bootstrap/scss/bootstrap.scss"; // Import Piveau modules
// @import "../../node_modules/@piveau/piveau-hub-ui-modules/dist/scss/main.scss";


.formulate-input-wrapper, #validationModal{

  font-family: -apple-system, BlinkMacSystemFont, "Inter Variable", sans-serif !important;

}

.submit-label {

  background-color: var(--primary);
  border-color: var(--highlight);
  font-family: inherit;

}


.step-progress__step--active::after, .step-progress__step--valid::after {

  background-color: var(--primary);
  border-color: var(--primary);

}

#stepper .step-progress__step::after, #subStepper .step-progress__step::after {
  height: 45px;
  width: 45px;
  background-color: var(--passiveColor);
}

.property > .formulate-input-wrapper, .property > .formulate-input-help--after {

  padding-left: 25px;

}

.property > .formulate-input-wrapper {
  font-family: inherit;
  padding: 25px 20px 5px 25px;
}

.formulate-input-help--after {

  padding: 5px 20px 35px 0px;

}


.formulate .formulate-input[data-classification="button"] button[data-ghost],
.formulate-input-element > button {

  background-color: var(--primary);
  border-color: var(--highlight);
  padding: 5px 15px 5px 15px;

}



#nav{

  padding-bottom: 30px;

}

#nav button, .dist-list button, button .default {
  background-color: var(--primary) ;
  border-color: var(--primary) ;
  color: $white;
  font-family: -apple-system, BlinkMacSystemFont, "Inter Variable", sans-serif;
  border: none;

}

div.form-container div div div.dist-list button.default {
  background-color: var(--primary) ;
  border-color: var(--primary) ;

}


div#stepper.step-progress__wrapper div.step-progress__bar div.step-progress__step.step-progress__step--valid,
div#subStepper.step-progress__wrapper div.step-progress__bar div.step-progress__step.step-progress__step--valid div.step-progress__step-label,
div#stepper.step-progress__wrapper div.step-progress__bar div.step-progress__step.step-progress__step--active
{

  --activeColor: var(--primary) !important;


}



#stepper {



}

.formulate .formulate-input[data-classification="button"] button[data-ghost] span {

  background-color: #0000;
  border-color: var(--highlight);
  padding: 10px 5px 10px 5px;

}

.formulate .formulate-input[data-classification="button"] button[data-ghost]:hover, {

  background-color: var(--highlight);
  border-color: var(--highlight);

}

#wrapper {

  background-color: var(--byte) !important;
  border-top: 2px solid  var(--highlight);

}
.formulate-input-element button[type="button"]{
  background-color: var(--primary) !important;
}

.formulate-input-element select, .formulate-input-element input, .formulate-input-element textarea {

  padding: 8px 5px 8px 15px;
  background-color: #dcdcdc;
  border: none;
  color: black;
  width: 100%;
  min-height: 40px;

}

.ok {

  background-color: var(--primary) !important;
  border: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Inter Variable", sans-serif !important;


}

.btn-group> li:nth-child(3),.btn-group> li:nth-child(2) {
  display: none;
}

#nav .clear-btn button{
  background-color: var(--light) !important;
}
