.static-page {
  font-family: 'Noto Sans';
  color: #003F6F;
  margin-bottom: 150px !important;
}

.bold-text {
  font-family: 'Noto Sans Bold'
}

.title {
    margin-bottom: 80px;
  }
  .container {
  }

  section {
    margin-bottom: 70px;
  }

  .feedback-box {
    background-color: #FFF4AD;
    color: var(--bayern);
    height: 48px;
    padding: 0 40px;
    font-size: 12px;
    z-index: 2;
    position: relative;
  }

  .feedback-button {
    border: 1.5px solid var(--bayern);
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
  }

  .feedback-box-mobile {
    display: none;
  }

  @media screen and (max-width:991px) {
    .feedback-box.justify-content-between {
      justify-content: start !important;
    }

    .feedback-button {
      border: none;
      padding: 0;
      padding-left: 4px;
      border-radius: none;
      cursor: default;
    }

    .feedback-button a {
      text-decoration: underline;
    }

    .responsive {
      display: none;
    }
  }