// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";


// 2. Include any default variable overrides here
// import custom theme
@import 'variables';


// Import Piveau modules
// @import "../../node_modules/@piveau/piveau-hub-ui-modules/dist/scss/main.scss";
// import full bootstrap framework



// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
@import "maps";

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets
@import "../../node_modules/bootstrap/scss/utilities";

// "Restores" mr, ml, pr, pl classes from Bootstrap v4 for compat reasons
// Note: drops Bootstrap 5 classes ms, me, ps, pe!
// TODO: Eventually migrate to Bootstrap 5
// See https://github.com/orgs/twbs/discussions/32402#discussioncomment-896331
$utilities: map-merge(
  $utilities, (
    "margin-start": map-merge(
      map-get($utilities, "margin-start"),
      ( class: ml )
    ),
    "margin-end": map-merge(
      map-get($utilities, "margin-end"),
      ( class: mr )
    ),
    "padding-start": map-merge(
      map-get($utilities, "padding-start"),
      ( class: pl )
    ),
    "padding-end": map-merge(
      map-get($utilities, "padding-end"),
      ( class: pr )
    ),
  )
);

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";


// Layout & components
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";


// ...

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "by/base";

// Overwriting Modules styles

#odp-bayern {

  // general page look
  div.container-fluid.datasets.content {
    background: transparent;
  }

  // search page
  #bayern-datasets-page {
    .datasets-container .datasets.content {
      background: transparent
    }

    .page-title {
      @extend .by-heading-2;
      color: $secondary !important;
    }

    @import './by/bayern-dataset-results';
    @import './by/bayern-facets';
  }
}

// Details Page

.dsd-description-show-more .small-icon {
  float: none !important;
}

.dsd-description-show-more {
  box-shadow: none !important;
  display: flex !important;
  // flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: 12px !important;
  font-weight: 700 !important;
}

.dsd-download-all-distributions-button {
  display: none !important;
}

.download-all-btn {
  background-color: var(--byte) !important;
  border-color: var(--byte) !important;
}

.distribution-dropdown-download-one-url {
  margin-top: -0.35rem;
  text-align: left;
}

.distributions__item {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.distribution-details-table {
  margin-bottom: 20px !important;
}

.distribution-format {
  margin: 0px !important;
  // margin-top: -15px !important;
  margin-left: 0 !important;
  width: 100px;
  white-space: nowrap;
}

.distribution-action-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.distributions-show-more-button.btn-secondary {
  display: none !important;
}

.dsd-item {
  @extend .col-12, .col-lg-11;
}

.dsd-item h2 {
  color: var(--bayern);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.dsd-feature {
  @extend .d-flex, .flex-wrap, .mt-5;
}

// component is later overwritten and class is removed
// .dsd-feature-title {
//   padding-left: 20px;
//   font-size: 1.5rem;
//   line-height: 1.2;
//   margin-bottom: 0.5rem;
//   color: var(--bayern);
// }

.dsd-feature.dsd-map {
  display: none !important;
}

.dsd-item.additional-information table {
  margin-top: 40px;
  max-height: none !important;
  background-color: transparent !important;
}

#deu-cookie-banner .cookie__bar__wrap {
  width: 85% !important;
}

.cookie__bar__content {
  width: 50% !important;
}

// Catalogue page
.catalog-header-icon {
  height: 35px !important;
}

.catalog-details-table, .page-title.catalog-title {
  display: none !important;
}

.catalog-flag {
  display: none !important;
}

@media screen and (max-width: 450px) {
  .cookie__bar__content, #deu-cookie-banner .cookie__bar__wrap {
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) {
  .distribution-format {
    margin-top: -15px !important;
  }
}

@media screen and (max-width: 991px) {
  // less than lg
  .dsd-nav-button button {
    min-width: 200px !important;
    margin-bottom: 8px !important;
  }

  .dsd-item {
    margin-left: 0px !important;
  }

  .dsd-features {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

}

#navbar-toggle {
  margin-bottom: 0 !important;
}

.alert-primary {
  border-color: #F7F7F7 !important;
  background-color: #F7F7F7 !important;
}


// DatasetFacets
.list-group-item {
  border: none !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.facet-title {
  background-color: #F7F7F7 !important;
  border: none !important;
  // color: #ffffff !important;
}

.facet-title .tooltip-icon {
  margin: 4px;
  font-size: 18px !important;
}

.list-group-item.active {
  background-color: var(--bayern);
  border-color: var(--bayern);
}

.dropdown-item:active {
  background-color: var(--bayern) !important;
}

// DatasetsFilter

.input-group > .form-control {
  border-radius: 4px !important;
  margin-right: 10px !important;
}

.btn-color {
  background-color: #F7F7F7 !important;
  border-color: #F7F7F7 !important;
  color: #212529 !important;
}

.btn-color:hover {
  background-color: var(--bayern) !important;
  border-color: var(--bayern) !important;
  color: white !important;
}

.btn-color:focus {
  box-shadow: none !important;
}

.filters-group .router-link-active {
  display: none !important;
}


// .nav-tabs {
//   border: none !important;
// }

// higher specificity to override module styles
.custom-button.active-styles,
.custom-button.inactive-styles {
  padding: 0.5rem 1rem 0.5rem 1.25rem !important;
  margin-right: -1px;
}

.custom-middle-button.active-styles,
.custom-middle-button.inactive-styles {
  padding: 0.5rem 1rem !important;
}

.custom-dropdown-button.active-styles,
.custom-dropdown-button.inactive-styles {
  padding: 0.5rem 1.25rem 0.5rem 1rem !important;
}

.custom-button,
.custom-middle-button,
.custom-dropdown-button {
  @extend .by-copy-small-bold;
  color: $secondary !important;
  border: 1px solid $by-neutral-30 !important;
  // outline: 1px solid $by-neutral-30 !important;

  &:hover,
  &.active-styles {
    border: 1px solid $primary !important;
    // outline: 1px solid $primary !important;
    background-color: $by-blue-20 !important;
    z-index: 1;
  }
}


// SelectedFacetsOverview
.badge-highlight {
  background-color: #fedd03 !important;
}

.button-color-grey {
  background-color: #D4EDFC !important;
}


// dataset info-box
.dataset-info-box {
  border: none !important;
  border-bottom: 1px solid #e5e5e5 !important;
  box-shadow: none !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 30px;
}

.dataset-info-box:hover {
  box-shadow: 0 8px 16px rgb(0 0 0 / 25%), 0 4px 8px rgb(0 0 0 / 22%) !important;
  cursor: pointer !important;
}

.dataset-info-box-header {
  color: var(--bayern) !important;
  background-color: transparent !important;
  border: none !important;
}

.dataset-info-box-body {
  min-height: 80px;
  padding-bottom: 5px;
}

.dataset-info-box-footer {
  background-color: transparent !important;
  border: none !important;
  margin-bottom: 30px;
}

.format-badge {
  color: #131313 !important;
  background-color: #D4EDFC !important;
}

.dataset-info-box-footer-catalog.d-flex {
  display: none !important;
}

// catalog Page
.cp-dataset-card {
  color: var(--bayern);
}

.cp-dataset-card-icon img {
  filter: invert(15%) sepia(70%) saturate(2488%) hue-rotate(188deg) brightness(95%) contrast(102%);
}

.nav-link:hover {
  margin-bottom: 0 !important;
  margin-left: 1px !important;
}

.nav-link.active {
  margin-bottom: -1px !important;
  margin-left: 0.5px !important;
}

// externals / bootstrap
.tooltip {
  // TODO: overwrite bootstrap tooltip classes here
}

.tooltip-inner {
  line-height: 24px ;
  text-align: left ;
}

.form-label {
  font-family: -apple-system, BlinkMacSystemFont, "Inter Variable", sans-serif;
}

button, .formulate-input-element--button--label {
  font-family: -apple-system, BlinkMacSystemFont, "Inter Variable", sans-serif !important;
}

.submit-label {
  font-family: -apple-system, BlinkMacSystemFont, "Inter Variable", sans-serif !important;
  background-color: var(--bayern) !important;
  border-color: var(--bayern) !important;
}

// not wanted for bayern
.sub-navigation.navbar,
.leaflet-container,
.map-modal-button,
.settings-facet.row,
button.btn.facets-show-more {
  display: none;
}


.filters-group .router-link-inactive {
  display: none !important;
}

hr {
  max-width: fit-content;
}

table.distribution-details-table > tr {
  display: block;
}

table.distribution-details-table > tr > th, table.distribution-details-table > tr > td {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.formulate-input[data-classification="select"] select option[value="file"] {
  display: none;
}

//DPI

.formulate-input-group-repeatable {
}

.formulate-input-group-repeatable-remove {
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  border-radius: 0 !important;
  transition: width 0.2s ease-in-out !important;
  display: flex !important;
  align-items: center;
  justify-content: center;

  :before {
    left: 0 !important;
  }

  :after {
    left: 0 !important;
  }

}

.formulate-input-group-repeatable-remove:hover:after {
  left: unset !important;
}

.formulate-input-group-repeatable-remove:hover:before {
  left: unset !important;
}

.formulate-input-group-repeatable-remove:hover {
  width: 2.5% !important
}

.formulate-input-group-add-more {
  justify-content: center !important;

  // button:after {
  //   content: '';
  //   width: 0.75rem;
  //   background-color: white;
  //   position: absolute;
  //   height: 0.2rem;
  //   right: 25%;
  //   top: 55%;
  //   transform: rotate(90deg);
  //   transition: all 0.3s ease-in-out;
  // }

  // button:before {
  //   content: '';
  //   width: 0.75rem;
  //   background-color: white;
  //   position: absolute;
  //   height: 0.2rem;
  //   right: 25%;
  //   top: 55%;
  //   transform: rotate(180deg);
  //   transition: all 0.3s ease-in-out;
  // }

  // button:hover::after {
  //   // transform: rotate(45deg);
  //   // right: 40%;
  //   scale: 1.1;
  // }

  // button:hover::before {
  //   // transform: rotate(-45deg);
  //   // right: 15%;
  //   scale: 1.1;
  // }

  button {
    border-radius: 5px !important;
    font-size: 1em !important;
    transition: all 0.3s ease-in-out;
  }

  .formulate-input-element--button {
    position: relative;
  }
}

.langDescriptionInput {
  .formulate-input-group-repeatable {
    display: flex;
    flex-direction: column-reverse;
  }

  .inputTextfield {
    textarea {
      height: 15vh;
      border-radius: 0 0 5px 5px !important;
    }

    .formulate-input-wrapper {
      label {
        display: none;
      }
    }

    span {
      display: none !important;
    }

    .formulate-input-errors {
      display: flex;
      align-items: baseline;
      justify-content: end;
    }

    .btn {
      display: none !important
    }
  }

  .selectLangField {
    width: 100%;

    span {
      display: none !important;
    }

    div:before {
      display: none !important
    }

    .formulate-input-element--select {
      border-radius: 5px 5px 0 0 !important;
      border: 1px solid #cecece;
      border-bottom: none;
      padding-left: 2.5em !important;
      margin-bottom: 0 !important;
    }

    select {
      cursor: pointer;
      border: none !important;
      font-size: 0.8em !important;
      padding-right: 0 !important;

    }

    .formulate-input-element--select:after {
      content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='lightgrey' class='bi bi-globe-americas' viewBox='0 0 16 16'><path d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z'/></svg>");
      width: 24px;
      height: 24px;
      position: absolute;
      top: 20%;
      left: 1.5%;
    }

    .formulate-input-element--text {
      margin-bottom: 0 !important;

    }

    .formulate-input-help {
      margin-top: 0.5rem;
    }

    .infoButton {
      display: none !important
    }

    .formulate-input-help {
      display: none !important;
    }
  }
}

.langStringInput {
  .formulate-input-group-repeatable {
    display: flex;
    flex-direction: row-reverse;
  }

  .inputTextfield {
    input {
      border-left: none !important;
      border-radius: 0 5px 5px 0 !important;
    }

    input {
      font-size: 1em !important;
    }

    span {
      display: none !important;
    }

    .formulate-input-help {
      display: none !important;
    }

    .formulate-input-errors {
      display: flex;
      align-items: baseline;
      justify-content: end;
    }
  }

  .selectLangField {
    width: 20%;

    span {
      display: none !important;
    }

    div:before {
      display: none !important
    }

    .formulate-input-element--select {
      border-radius: 5px 0 0 5px !important;
      border: 1px solid #cecece;
      padding-left: 2.5em !important;

    }

    select {
      cursor: pointer;
      border: none !important;
      font-size: 0.8em !important;
      padding-right: 0 !important;

    }

    .formulate-input-element--select:after {
      content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='lightgrey' class='bi bi-globe-americas' viewBox='0 0 16 16'><path d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z'/></svg>");
      width: 24px;
      height: 24px;
      position: absolute;
      top: 20%;
      left: 10%;
    }

    .formulate-input-element--text {
      margin-bottom: 0 !important;

    }

    .formulate-input-help {
      margin-top: 0.5rem;
    }

    .infoButton {
      display: none !important
    }

    .formulate-input-help {
      position: absolute;
    }
  }
}


@import './by/bayern-header';
@import './by/bayern-catalog-page';
@import './by/bayern-datasets-page';
@import './by/bayern-static-info-page';
@import './by/bayern-dataset-details-page';



.event-card {
  box-shadow: 0 1px 0 0 #E6E7E9;
  border-radius: 0.5rem;
  border-top: 8px solid #003F6F;
  @extend .p-4;
  @extend .h-100;
  @extend .bg-white;

  @media (min-width: map-get($grid-breakpoints, xl)) {
    .by-heading-4 {
      line-height: 2rem !important;
      font-size: 1.375rem !important;
      height: 4rem;
    }
    p.by-copy-small-regular {
      height: 4.5rem;
    }
  }
}

.article-card-hover-effect {

  & > a {
    color: var(--neutral-90, #25333D) !important;
    text-decoration: none !important;
  }


  & > a > div {

    box-shadow: 0 1px 0 0 #E6E7E9;
    border-bottom: 3px solid #FFF;
  }

  & > a > div:hover {
    border-bottom: 3px solid var(--blue-blue-60-primary, #009FE3);
    h4 {
      color: var(--blue-blue-60-primary, #009FE3) !important;
    }

  }

  & > a > div:active {
    border-bottom: 3px solid var(--blue-blue-40, #67C5F0);
    h4 {
      color: var(--blue-blue-40-primary, #67C5F0) !important;
    }
  }

  & div > a {
    line-height: 1.5rem;
  }

  & div > a.text-by-blue-80:hover {
    text-decoration: none;
    color: var(--blue-blue-60-primary, #009FE3) !important;
  }

  & div > a.text-by-blue-80:active {
    text-decoration: none;
    color: var(--blue-blue-40, #67C5F0) !important;
  }

  & div > a.text-by-blue-80:hover::after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--blue-blue-60-primary, #009FE3) ;
    -webkit-mask-image: url("../assets/icon/icon-caret-circle-right.svg");
    mask-image: url("../assets/icon/icon-caret-circle-right.svg");
    text-decoration: none;
  }

  & div > a.text-by-blue-80:active::after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--blue-blue-60-primary, #67C5F0) ;
    -webkit-mask-image: url("../assets/icon/icon-caret-circle-right.svg");
    mask-image: url("../assets/icon/icon-caret-circle-right.svg");
    text-decoration: none;
  }
}

// DPI

.circle {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 12px;
  line-height: 1px;
  border-radius: 50%;
  background-color: #595959;

  &[type="HTML"] {
    background-color: #285C76;
  }

  &[type="JSON"] {
    background-color: var(--dark-orange);
  }

  &[type="XML"] {
    background-color: #8F4300;
  }

  &[type="TXT"] {
    background-color: #2B5E73;
  }

  &[type="CSV"] {
    background-color: var(--badge-green);
  }

  &[type="XLS"],
  &[type="Excel XLSX"] {
    background-color: #1A6537;
  }

  &[type="ZIP"] {
    background-color: #252525;
  }

  &[type="API"] {
    background-color: #923560;
  }

  &[type="PDF"] {
    background-color: #B30519;
  }

  &[type="SHP"] {
    background-color: var(--badge-black);
  }

  &[type="RDF"],
  &[type="NQUAD"],
  &[type="NTRIPLES"],
  &[type="TURTLE"] {
    background-color: #0b4498;
  }
}

@import 'dpi';


$deprecatedBootstrapClass:
'.arrow',
'.badge-danger',
'.badge-dark',
'.badge-info',
'.badge-light',
'.badge-pill',
'.badge-primary',
'.badge-secondary',
'.badge-success',
'.badge-warning',
'.border-left',
'.border-left-0',
'.border-right',
'.border-right-0',
'.bs-popover-left',
'.bs-popover-right',
'.bs-tooltip-left',
'.bs-tooltip-right',
//'.btn',
'.btn-block',
//'.btn-danger',
// '.btn-dark',
// '.btn-group-toggle',
// '.btn-info',
// '.btn-light',
// '.btn-link',
// '.btn-outline-danger',
// '.btn-outline-dark',
// '.btn-outline-info',
// '.btn-outline-light',
// '.btn-outline-primary',
// '.btn-outline-secondary',
// '.btn-outline-success',
// '.btn-outline-warning',
//'.btn-primary',
// '.btn-secondary',
// '.btn-success',
// '.btn-warning',
'.card-columns',
'.card-deck',
'.carousel-item-next',
'.carousel-item-prev',
'.close',
'.collapsing',
'.custom-checkbox',
'.custom-control',
'.custom-control-inline',
'.custom-control-input',
'.custom-control-label',
'.custom-file',
'.custom-file-input',
'.custom-file-label',
'.custom-radio',
'.custom-range',
'.custom-select',
'.custom-select-lg',
'.custom-select-sm',
'.custom-switch',
'.dropdown-menu-left',
'.dropdown-menu-lg-left',
'.dropdown-menu-lg-right',
'.dropdown-menu-md-left',
'.dropdown-menu-md-right',
'.dropdown-menu-right',
'.dropdown-menu-sm-left',
'.dropdown-menu-sm-right',
'.dropdown-menu-xl-left',
'.dropdown-menu-xl-right',
'.dropleft',
'.dropright',
'.embed-responsive',
'.embed-responsive-16by9',
'.embed-responsive-1by1',
'.embed-responsive-21by9',
'.embed-responsive-4by3',
'.embed-responsive-item',
'.float-left',
'.float-lg-left',
'.float-lg-right',
'.float-md-left',
'.float-md-right',
'.float-right',
'.float-sm-left',
'.float-sm-right',
'.float-xl-left',
'.float-xl-right',
'.font-italic',
'.font-weight-bold',
'.font-weight-bolder',
'.font-weight-light',
'.font-weight-lighter',
'.font-weight-normal',
'.form-control-file',
'.form-control-range',
'.form-group',
'.form-inline',
'.form-row',
'.input-group-append',
'.input-group-prepend',
'.jumbotron',
'.jumbotron-fluid',
'.m-lg-n1',
'.m-lg-n2',
'.m-lg-n3',
'.m-lg-n4',
'.m-lg-n5',
'.m-md-n1',
'.m-md-n2',
'.m-md-n3',
'.m-md-n4',
'.m-md-n5',
'.m-n1',
'.m-n2',
'.m-n3',
'.m-n4',
'.m-n5',
'.m-sm-n1',
'.m-sm-n2',
'.m-sm-n3',
'.m-sm-n4',
'.m-sm-n5',
'.m-xl-n1',
'.m-xl-n2',
'.m-xl-n3',
'.m-xl-n4',
'.m-xl-n5',
'.mb-lg-n1',
'.mb-lg-n2',
'.mb-lg-n3',
'.mb-lg-n4',
'.mb-lg-n5',
'.mb-md-n1',
'.mb-md-n2',
'.mb-md-n3',
'.mb-md-n4',
'.mb-md-n5',
'.mb-n1',
'.mb-n2',
'.mb-n3',
'.mb-n4',
'.mb-n5',
'.mb-sm-n1',
'.mb-sm-n2',
'.mb-sm-n3',
'.mb-sm-n4',
'.mb-sm-n5',
'.mb-xl-n1',
'.mb-xl-n2',
'.mb-xl-n3',
'.mb-xl-n4',
'.mb-xl-n5',
'.media',
'.media-body',
'.ml-0',
'.ml-1',
'.ml-2',
'.ml-3',
'.ml-4',
'.ml-5',
'.ml-auto',
'.ml-lg-0',
'.ml-lg-1',
'.ml-lg-2',
'.ml-lg-3',
'.ml-lg-4',
'.ml-lg-5',
'.ml-lg-auto',
'.ml-lg-n1',
'.ml-lg-n2',
'.ml-lg-n3',
'.ml-lg-n4',
'.ml-lg-n5',
'.ml-md-0',
'.ml-md-1',
'.ml-md-2',
'.ml-md-3',
'.ml-md-4',
'.ml-md-5',
'.ml-md-auto',
'.ml-md-n1',
'.ml-md-n2',
'.ml-md-n3',
'.ml-md-n4',
'.ml-md-n5',
'.ml-n1',
'.ml-n2',
'.ml-n3',
'.ml-n4',
'.ml-n5',
'.ml-sm-0',
'.ml-sm-1',
'.ml-sm-2',
'.ml-sm-3',
'.ml-sm-4',
'.ml-sm-5',
'.ml-sm-auto',
'.ml-sm-n1',
'.ml-sm-n2',
'.ml-sm-n3',
'.ml-sm-n4',
'.ml-sm-n5',
'.ml-xl-0',
'.ml-xl-1',
'.ml-xl-2',
'.ml-xl-3',
'.ml-xl-4',
'.ml-xl-5',
'.ml-xl-auto',
'.ml-xl-n1',
'.ml-xl-n2',
'.ml-xl-n3',
'.ml-xl-n4',
'.ml-xl-n5',
'.modal-dialog-centered',
'.modal-open',
'.modal-scrollbar-measure',
'.mr-0',
'.mr-1',
'.mr-2',
'.mr-3',
'.mr-4',
'.mr-5',
'.mr-auto',
'.mr-lg-0',
'.mr-lg-1',
'.mr-lg-2',
'.mr-lg-3',
'.mr-lg-4',
'.mr-lg-5',
'.mr-lg-auto',
'.mr-lg-n1',
'.mr-lg-n2',
'.mr-lg-n3',
'.mr-lg-n4',
'.mr-lg-n5',
'.mr-md-0',
'.mr-md-1',
'.mr-md-2',
'.mr-md-3',
'.mr-md-4',
'.mr-md-5',
'.mr-md-auto',
'.mr-md-n1',
'.mr-md-n2',
'.mr-md-n3',
'.mr-md-n4',
'.mr-md-n5',
'.mr-n1',
'.mr-n2',
'.mr-n3',
'.mr-n4',
'.mr-n5',
'.mr-sm-0',
'.mr-sm-1',
'.mr-sm-2',
'.mr-sm-3',
'.mr-sm-4',
'.mr-sm-5',
'.mr-sm-auto',
'.mr-sm-n1',
'.mr-sm-n2',
'.mr-sm-n3',
'.mr-sm-n4',
'.mr-sm-n5',
'.mr-xl-0',
'.mr-xl-1',
'.mr-xl-2',
'.mr-xl-3',
'.mr-xl-4',
'.mr-xl-5',
'.mr-xl-auto',
'.mr-xl-n1',
'.mr-xl-n2',
'.mr-xl-n3',
'.mr-xl-n4',
'.mr-xl-n5',
'.mt-lg-n1',
'.mt-lg-n2',
'.mt-lg-n3',
'.mt-lg-n4',
'.mt-lg-n5',
'.mt-md-n1',
'.mt-md-n2',
'.mt-md-n3',
'.mt-md-n4',
'.mt-md-n5',
'.mt-n1',
'.mt-n2',
'.mt-n3',
'.mt-n4',
'.mt-n5',
'.mt-sm-n1',
'.mt-sm-n2',
'.mt-sm-n3',
'.mt-sm-n4',
'.mt-sm-n5',
'.mt-xl-n1',
'.mt-xl-n2',
'.mt-xl-n3',
'.mt-xl-n4',
'.mt-xl-n5',
'.mx-lg-n1',
'.mx-lg-n2',
'.mx-lg-n3',
'.mx-lg-n4',
'.mx-lg-n5',
'.mx-md-n1',
'.mx-md-n2',
'.mx-md-n3',
'.mx-md-n4',
'.mx-md-n5',
'.mx-n1',
'.mx-n2',
'.mx-n3',
'.mx-n4',
'.mx-n5',
'.mx-sm-n1',
'.mx-sm-n2',
'.mx-sm-n3',
'.mx-sm-n4',
'.mx-sm-n5',
'.mx-xl-n1',
'.mx-xl-n2',
'.mx-xl-n3',
'.mx-xl-n4',
'.mx-xl-n5',
'.my-lg-n1',
'.my-lg-n2',
'.my-lg-n3',
'.my-lg-n4',
'.my-lg-n5',
'.my-md-n1',
'.my-md-n2',
'.my-md-n3',
'.my-md-n4',
'.my-md-n5',
'.my-n1',
'.my-n2',
'.my-n3',
'.my-n4',
'.my-n5',
'.my-sm-n1',
'.my-sm-n2',
'.my-sm-n3',
'.my-sm-n4',
'.my-sm-n5',
'.my-xl-n1',
'.my-xl-n2',
'.my-xl-n3',
'.my-xl-n4',
'.my-xl-n5',
//'.nav-link',
'.navbar-light',
'.no-gutters',
'.order-10',
'.order-11',
'.order-12',
'.order-6',
'.order-7',
'.order-8',
'.order-9',
'.order-lg-10',
'.order-lg-11',
'.order-lg-12',
'.order-lg-6',
'.order-lg-7',
'.order-lg-8',
'.order-lg-9',
'.order-md-10',
'.order-md-11',
'.order-md-12',
'.order-md-6',
'.order-md-7',
'.order-md-8',
'.order-md-9',
'.order-sm-10',
'.order-sm-11',
'.order-sm-12',
'.order-sm-6',
'.order-sm-7',
'.order-sm-8',
'.order-sm-9',
'.order-xl-10',
'.order-xl-11',
'.order-xl-12',
'.order-xl-6',
'.order-xl-7',
'.order-xl-8',
'.order-xl-9',
'.page-item',
'.pl-0',
'.pl-1',
'.pl-2',
'.pl-3',
'.pl-4',
'.pl-5',
'.pl-lg-0',
'.pl-lg-1',
'.pl-lg-2',
'.pl-lg-3',
'.pl-lg-4',
'.pl-lg-5',
'.pl-md-0',
'.pl-md-1',
'.pl-md-2',
'.pl-md-3',
'.pl-md-4',
'.pl-md-5',
'.pl-sm-0',
'.pl-sm-1',
'.pl-sm-2',
'.pl-sm-3',
'.pl-sm-4',
'.pl-sm-5',
'.pl-xl-0',
'.pl-xl-1',
'.pl-xl-2',
'.pl-xl-3',
'.pl-xl-4',
'.pl-xl-5',
'.pr-0',
'.pr-1',
'.pr-2',
'.pr-3',
'.pr-4',
'.pr-5',
'.pr-lg-0',
'.pr-lg-1',
'.pr-lg-2',
'.pr-lg-3',
'.pr-lg-4',
'.pr-lg-5',
'.pr-md-0',
'.pr-md-1',
'.pr-md-2',
'.pr-md-3',
'.pr-md-4',
'.pr-md-5',
'.pr-sm-0',
'.pr-sm-1',
'.pr-sm-2',
'.pr-sm-3',
'.pr-sm-4',
'.pr-sm-5',
'.pr-xl-0',
'.pr-xl-1',
'.pr-xl-2',
'.pr-xl-3',
'.pr-xl-4',
'.pr-xl-5',
'.pre-scrollable',
'.rounded-left',
'.rounded-lg',
'.rounded-right',
'.rounded-sm',
'.sr-only',
'.sr-only-focusable',
'.table-dark',
'.text-hide',
'.text-justify',
'.text-left',
'.text-lg-left',
'.text-lg-right',
'.text-md-left',
'.text-md-right',
'.text-monospace',
'.text-right',
'.text-sm-left',
'.text-sm-right',
'.text-xl-left',
'.text-xl-right',
'.thead-dark',
'.thead-light',
'.toast';

.bootstrap-deprications {
  @each $className in $deprecatedBootstrapClass {
    #{$className} {
      border: 4px solid red;
      &::before {
        position: absolute;
        color: red;
        background: white;
        padding: 6px;
        border: 2px solid black;
        z-index: 5000;
      }
    }
    #{$className}::before {content: '#{$className}' }
  }
}
