
  /****************************************************/
  /* Typography Tokens and Component-Specific Styles */
  /****************************************************/
  .V3-typography {
      h1 {
          font-family: var(--font-family-primary);
          font-size: var(--headline-1-font-size);
          line-height: var(--headline-1-line-height);
          font-weight: var(--headline-1-font-weight);
      }

      h2 {
          font-family: var(--font-family-primary);
          font-size: var(--headline-2-font-size);
          line-height: var(--headline-2-line-height);
          font-weight: var(--headline-2-font-weight);
      }

      h3 {
          font-family: var(--font-family-secondary);
          font-size: var(--headline-3-font-size);
          line-height: var(--headline-3-line-height);
          font-weight: var(--headline-3-font-weight);
      }

      h4 {
          font-family: var(--font-family-secondary);
          font-size: var(--headline-4-font-size);
          line-height: var(--headline-4-line-height);
          font-weight: var(--headline-4-font-weight);
          margin-bottom: 0px;
          color: var(--neutral-80, #3D4952);
      }

      h5 {
          font-family: var(--font-family-secondary);
          font-size: var(--headline-5-font-size);
          line-height: var(--headline-5-line-height);
          font-weight: var(--headline-5-font-weight);
      }

      .copy-large-regular {
          font-family: var(--font-family-secondary);
          font-size: var(--copy-large-regular-font-size);
          line-height: var(--copy-large-regular-line-height);
          font-weight: var(--copy-large-regular-font-weight);
          color: var(--neutral-80, #3D4952);
      }

      .copy-large-semi-bold {
          font-family: var(--font-family-secondary);
          font-size: var(--copy-large-semi-bold-font-size);
          line-height: var(--copy-large-semi-bold-line-height);
          font-weight: var(--copy-large-semi-bold-font-weight);
      }

      .copy-small-regular {
          font-family: var(--font-family-secondary);
          font-size: var(--copy-small-regular-font-size);
          line-height: var(--copy-small-regular-line-height);
          font-weight: var(--copy-small-regular-font-weight);
      }

      .copy-small-semi-bold {
          font-family: var(--font-family-secondary);
          font-size: var(--copy-small-semi-bold-font-size);
          line-height: var(--copy-small-semi-bold-line-height);
          font-weight: var(--copy-small-semi-bold-font-weight);
      }

      .copy-mini-regular {
          font-family: var(--font-family-secondary);
          font-size: var(--copy-mini-regular-font-size);
          line-height: var(--copy-mini-regular-line-height);
          font-weight: var(--copy-mini-regular-font-weight);
      }

      .copy-mini-semi-bold {
          font-family: var(--font-family-secondary);
          font-size: var(--copy-mini-regular-font-size);
          font-style: normal;
          font-weight: var(--copy-button-s-font-weight);
          line-height: var(--copy-button-s-line-height);
      }

      .copy-button-ml {
          font-family: var(--font-family-secondary);
          font-size: var(--copy-button-ml-font-size);
          line-height: var(--copy-button-ml-line-height);
          font-weight: var(--copy-button-ml-font-weight);
      }

      .copy-button-s {
          font-family: var(--font-family-secondary);
          font-size: var(--copy-button-s-font-size);
          line-height: var(--copy-button-s-line-height);
          font-weight: var(--copy-button-s-font-weight);
      }
  }

  /**************************************************************/
  @media only screen and (max-width: var(--breakpoint-s)) {
      .V3-typography {
          h1 {
              font-family: var(--font-family-primary);
              font-size: var(--mobile-headline-1-font-size);
              line-height: var(--mobile-headline-1-line-height);
              font-weight: var(--mobile-headline-1-font-weight);
          }

          h2 {
              font-family: var(--font-family-primary);
              font-size: var(--mobile-headline-2-font-size);
              line-height: var(--mobile-headline-2-line-height);
              font-weight: var(--mobile-headline-2-font-weight);
          }

          h3 {
              font-family: var(--font-family-secondary);
              font-size: var(--mobile-headline-3-font-size);
              line-height: var(--mobile-headline-3-line-height);
              font-weight: var(--mobile-headline-3-font-weight);
          }

          h4 {

              font-family: var(--font-family-secondary);
              font-size: var(--mobile-headline-4-font-size);
              line-height: var(--mobile-headline-4-line-height);
              font-weight: var(--mobile-headline-4-font-weight);
          }
      }
  }
