/* Always ensure variables.css is imported before typography.css */
:root {
    /* Base Tokens - Actual Colors */
    --neutral-0: #FFFFFF;
    --neutral-5: #FAFAFB;
    --neutral-10: #F1F1F3;
    --neutral-20: #E6E7E9;
    --neutral-30: #D5D7DA;
    --neutral-60: #687178;
    --neutral-80: #3D4952;
    --neutral-90: #25333D;
    --neutral-100: #0B1A25;

    --blue-110: #093150;
    --blue-100: #003F6F;

    --blue-90: #015184;
    --blue-80: #0172AD;
    --blue-70: #0196D8;

    --blue-60: #009FE3;
    --blue-50: #2BAFE9;
    --blue-40: #67C5F0;
    --blue-30: #AEDFF8;

    --blue-20: #D4EDFC;
    --blue-10: #F3FBFF;

    /* Additional Colors */
    --green-80: #2E521D;
    --green-70: #3D6E26;
    --green-60: #59A436;
    --green-50: #70CC44;
    --green-40: #9ADB7C;
    --green-30: #C2EAAF;
    --green-20: #E8F8E1;

    --orange-80: #5D3C15;
    --orange-70: #7C501C;
    --orange-60: #C57E2B;
    --orange-50: #FFA741;
    --orange-40: #FFBF75;
    --orange-30: #FFD7A7;
    --orange-20: #FFEEDB;

    --violet-80: #65236B;
    --violet-70: #872E8F;
    --violet-65: #AB36B5;
    --violet-60: #C44BCE;
    --violet-50: #EA7CF3;
    --violet-40: #F2A5F8;
    --violet-30: #F9CAFC;
    --violet-20: #FEEFFF;

    --red-80: #7F1B21;
    --red-70: #A9242C;
    --red-60: #E53B46;
    --red-R0: #FC757D;
    --red-40: #FF9FA4;
    --red-30: #FFC7CB;
    --red-20: #FFEFF0;

    --yellow-80: #5E5400;
    --yellow-70: #786C00;
    --yellow-60: #A69601;
    --yellow-50: #E1CA08;
    --yellow-40: #F8E117;
    --yellow-30: #FFF07B;
    --yellow-20: #FFF9C7;

    /* Breakpoints - Bootstrap Standard */
    --breakpoint-xs: 0;
    /* Extra small: <576px */
    --breakpoint-s: 576px;
    /* Small: ≥576px */
    --breakpoint-m: 768px;
    /* Medium: ≥768px */
    --breakpoint-l: 992px;
    /* Large: ≥992px */
    --breakpoint-xl: 1200px;
    /* Extra large: ≥1200px */
    --breakpoint-xxl: 1344px;
    /* Custom Extra Large Breakpoint */

    /* Global Content Max Width */
    --content-max-width: 1280px;
    --content-margin-width: 1344px;
    /* Margin alignment for larger breakpoints */

    /* Elevation Variables */
    --elevation-light-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --elevation-light-3:0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
    /**************************************************************************/
    /**************************************************************************/
    /* Functional Tokens - Usage-Based */
    /* Background Tokens */
    --background-primary-default: var(--blue-100);
    --background-primary-hover: var(--blue-80);
    --background-primary-pressed: var(--blue-70);
    --background-primary-disabled: var(--neutral-30);

    --background-secondary-default: var(--blue-20);
    --background-secondary-hover: var(--blue-40);
    --background-secondary-pressed: var(--blue-30);
    --background-secondary-disabled: var(--neutral-10);

     --background-tertiary-hover: var(--blue-20);
     --background-tertiary-pressed: var(--blue-10);
 
     --background-tooltip: var(--neutral-90);

     /* Inline Text Hyperlink Tokens */
    --link-default: var(--blue-80); /* Default state */
    --link-hover: var(--blue-100); /* Hover state */
    --link-pressed: var(--blue-60); /* Pressed state */
    --link-visited: var(--blue-90); /* Visited state */

    --Focused: var(--blue-70);

    --text-tooltip: var(--neutral-0);

    /* Text Primary */
    --text-primary-all: var(--neutral-0); /* All */

    /* Text Primary / Secondary */
    --text-primary-secondary-default: var(--neutral-100); /* Default */
    --text-primary-secondary-disabled: var(--neutral-30); /* Disabled */

    /* Text Primary / Tertiary */
    --text-primary-tertiary-default: var(--blue-80); /* Default */
    --text-primary-tertiary-disabled: var(--blue-30); /* Disabled */

    /* State Layers / Primary */
    --state-layer-primary-opacity-8: rgba(0, 159, 227, 0.08); /* 8% Opacity */
    --state-layer-primary-opacity-12: rgba(0, 159, 227, 0.12); /* 12% Opacity */

    /* State Layers / On Surface */
    --state-layer-on-surface-opacity-8: rgba(11, 26, 37, 0.08); /* 8% Opacity */
    --state-layer-on-surface-opacity-12: rgba(11, 26, 37, 0.12); /* 12% Opacity */

    /* HVD Variables */
    --hvd-background: var(--violet-65, #AB36B5); /* Background color for HVD */
    --hvd-text: var(--neutral-0, #FFFFFF); /* Text color for HVD */

    /* Semantic Tokens */
    --text-error: var(--red-70);
    --text-warning: var(--orange-70);
    --text-success: var(--green-70);

    --fill-error: var(--red-60);
    --fill-warning: var(--orange-50);
    --fill-success: var(--green-50);

    --background-error: var(--red-30);
    --background-warning: var(--orange-30);
    --background-success: var(--green-30);

    /* Spacing */
    --Spacing-1: 4px;
    /* 0.25rem */
    --Spacing-2: 8px;
    /* 0.5rem */
    --Spacing-3: 16px;
    /* 1rem */
    --Spacing-4: 24px;
    /* 1.5rem */
    --Spacing-5: 32px;
    /* 2rem */
    --Spacing-6: 48px;
    /* 3rem */
    --Spacing-7: 56px;
    /* 3.5rem */
    --Spacing-8: 64px;
    /* 4rem */
    --Spacing-9: 72px;
    /* 4.5rem */
    --Spacing-10: 80px;
    /* 5rem */
    --Spacing-11: 120px;
    /* 7.5rem */
    --Spacing-12: 160px;
    /* 10rem */

    /*Border Radius*/
    --Border-Radius: 8px;
    --Button-Radius: 24px;

    --Modal-Radius: 32px;
    --Inside-Modal-Radious: 16px;

}